/* Body elements */
body {
  background-color: #039968;
  color: #212121;
  min-height: 100vh;

  margin: 0;
  padding: 0;

  font-family: 'Courier Prime', monospace;
  font-size: 15px;

  display: flex;
  flex-direction: column;
  align-items: stretch;
}
.row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}
a {
  color: #e8e0c8;
  text-decoration: none;
}
a:hover {
  color: #212121;
  text-decoration: underline;
}
p {
  margin: 0;
  padding-bottom: 15px;
}

/* Header and fotter*/
.header {
  background-color: #026645;

  text-align: center;

  gap: 30px;
  border-bottom: 5px solid #212121;
}
.fotter {
  background-color: #026645;

  text-align: center;

  gap: 30px;
  margin-top: auto;
  border-top: 5px solid #212121;
}

/* Window */
.window {
  margin: 15px;
  background-color: #e8e0c8;
  border: 5px solid #013d29;
  box-shadow: 5px 5px 0 #013d29;
}
.window p {
  padding-left: 10px;
  padding-right: 10px;
}
.window-top {
  margin-bottom: 15px;
  background-color: #013d29;
  color: #e8e8c8;

  font-size: 20px;
}
.window a {
  color: #039968;
}

/* Window logs */
.window .log {
  gap: 15px;
  padding-bottom: 15px;
  display: flex;
}
.window .log.date {
  flex-shrink: 0;
}
.window .log.text {
  flex: 1;
}





